---
layout: layouts/base.njk
---

<section class="section is-paddingless-horizontal" style="padding-top: 0;">
  <div class="container grid">
    <article class="media center">
      <figure class="media-left">
        <figure class="image is-64x64"><img src="/img/profile.avif" /></figure>
      </figure>
        <div class="media-content"><h1 class="title is-2">Hi.</h1></div>
    </article>
    <p class="pt-4">I’m Reuben — a software developer. My main interests are cloud development, distributed systems and security.</p>
  </div>
</section>

{{ content | safe }}