{%- for post in postslist | reverse -%}
  <div>
    <a href="{{ post.url }}"><h1 class="title is-4 has-text-info">{{ post.data.title }}</h1></a>
    <div class="content is-2">
      <p class="has-text-dark-grey" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL dd, yyyy") }}</p>
      <p class="pb-4">{{ post.data.description }}</p>            
    </div>  
  </div>
{%- endfor -%}