---
layout: layouts/base.njk
---

<div class="section is-paddingless-horizontal" style="padding-top: 0; margin-top: 0;">
    <h1 class="title is-2">{{title}}</h1>
    <p class="has-text-dark-grey" datetime="{{ post.date | htmlDateString }}">{{ date | readableDate("LLLL dd, yyyy") }}</p>

    <div class="tags pt-4">
      {%- for tag in tags | filterTagList -%}
        <span class="tag is-info">{{ tag }}</span>
      {%- endfor -%}        
    </div>
</div>



<div class="content is-medium">
  {{ content | safe }}
</div>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next</a>
</nav>        