---
layout: layouts/base.njk
---


{{ content | safe }}
        

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next</a>
</nav>        