---
layout: layouts/base.njk
---

<div class="section is-paddingless-horizontal" style="padding-top: 0; margin-top: 0;">
    <h1 class="title is-2 has-text-grey-darker">{{title}}</h1>
    <p class="has-text-dark-grey" datetime="{{ post.date | htmlDateString }}">{{ date | readableDate("LLLL dd, yyyy") }}</p>

    <div class="tags pt-4">
      {%- for tag in tags | filterTagList -%}
        <span class="tag is-info is-light">{{ tag }}</span>
      {%- endfor -%}        
    </div>
</div>



<div class="content is-medium">
  {{ content | safe }}
</div>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}

<!-- <nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {%- if previousPost %}<a class="pagination-previous" href="{{ previousPost.url }}>Previous - {{ previousPost.data.title }}</a>{% endif %}
  {%- if nextPost %}<a class="pagination-next" href="{{ nextPost.url }}">Next - {{ nextPost.data.title }}</a>{% endif %}
</nav> -->

<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}